
@layer tailwind-base, primereact, tailwind-utilities;
@import 'primereact/resources/themes/lara-light-blue/theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* @tailwind base; */
/* @layer primereact; */
/* @tailwind components;
@tailwind utilities; */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
